.banner{
    &__title{
        h1{
           font-weight: var(--fw-700);
           font-size: 1.5rem;
        }
        p{
            color: var(--text-color2);
            font-weight: var(--fw-700);
        }
    }
    &__toggle{
        p{
             color: var(--text-color2);
            font-weight: var(--fw-700);
        }
    }
}